:root{
    --color1:blanchedalmond;
    --color2:rgb(255, 212, 248);
}

*{
    padding: 0%;
    margin: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header */
header{
    width: 96%;
    background-color:var(--color1);
    display: flex;
    padding: 0% 2%;
}
.logo img{
    max-width: 100%;
}
.logo{
    max-width: 5%;
}


.header_ul_catagory{
    display: flex;
    align-items: center;
    list-style: none;
    width: 40%;
}

.catagory{
    padding: 10px;
    border-radius: 20px;
    transition:transform 250ms;
    
}
.right{
    float: right;
    /* margin-left: auto; */
}
#header_search{
    width: 15vw;
    border: none;
    outline: none;
    height: 10vh;
    padding: 0px 15px;
    border-radius: 10px;
}

.catagory:hover{
    background-color:var(--color2);
    transform: translateY(-2px);
    cursor: pointer;
    font-weight:500;
}
.input:hover{
    background-color:var(--color1);
}



